body{
 background-image: url("Assets/Programming.jpg");



}
.topnavigation {
    overflow: hidden;
    border-radius: 5px; 

    background-color:grey;
  }

  .topnavigation input[type=text] {
    float: right;
    border-radius: 10px;
    padding: 5px;
    border: none;

    font-size: 15px;
  }

  .topnavigation a {
    float: left;
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }

  .topnavigation a.active {
    background-color: #2196F3;
    color: white;
  }
 
  .topnavigation a:hover {
    background-color: lightblue;
    color: blue;
  }
  
 
  @media screen and (max-width: 600px) {
    .topnavigation a, .topnavigation input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
   
  
 
  
  }