body{
    background-image: url("Assets/Backdrop1.jpg");

}

input[type=search]{
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%; 
    vertical-align: 100%;
    border-radius: 10px;
}

.search{
    
   border: 10px red bold 
   ;
   background-color: black;
    text-align: right;

}
button{ 
    background-color:greenyellow;
    padding: 40px 40px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 10px;
}


button:hover {
        cursor: pointer;
    }

 .button2{
     text-align: top right;
 }   




