<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/History.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/hexagons.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">

    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/extra.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>


<body>
    <header id="header" id="home" style="margin-bottom: 80px; background-color: #5BA69F;">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="Assets/logo.png" alt="logo" title="logo" height="40px" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="landing.html">Home</a></li>
                        <li><a href="#" class="get-started">Blockchain</a></li>
                        <li><a href="about.html">About Us</a></li>


                        <li class="menu-has-children"><a href="">Blog</a></li>
                        <li><a href="contact.html">Report</a></li>
                        <li class="menu-has-children"><a href="#">Settings</a>
                            <ul>
                                <li><a href="Submit.html">Sign up</a></li>
                                <li><a href="index.html">Log out</a></li>
                                <li class="menu-has-children"><a href="Profile.html">Change, Edit Profile</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->
 
    <div class="history-container">
        <div class="Title" style="margin-top: 70px;">
            <p>History</p>
        </div>

        <div class="table-history">
            <table class="table table-hover">
                <thead>
                    <tr class="align-self-center">
                        <th>Client Name</th>
                        <th>Item</th>
                        <th>Item ID</th>
                        <th>Price</th>
                        <th>Transaction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Francis Chang</td>
                        <td>Shovel</td>
                        <td>#1485997</td>
                        <td>0.05E</td>
                        <td><span class="badge badge-boxed badge-soft-primary">Success</span></td>
                    </tr>
                    <tr>
                        <td>Ron Williams</td>
                        <td>Laptop</td>
                        <td>#1524855</td>
                        <td>0.1E</td>
                        <td><span class="badge badge-boxed badge-soft-primary">Success</span></td>
                    </tr>
                    <tr>
                        <td>Tyrell Sobers</td>
                        <td>Vase</td>
                        <td>#1283987</td>
                        <td>0.0001E</td>
                        <td><span class="badge badge-boxed badge-soft-primary">Success</span></td>
                    </tr>
                    <tr>
                        <td>Teddy Hamilton</td>
                        <td>Car</td>
                        <td>#7154236</td>
                        <td>2E</td>
                        <td><span class="badge badge-boxed badge-soft-warning">Pending</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>