<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/shop.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/Form.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/659060c25c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/hexagons.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">

    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/extra.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <title>View Offers and Requests | Store</title>
</head>

<body>
    <div class="main-container">
        <header id="header" id="home" style="margin-bottom: 80px; background-color: #5BA69F;">
            <div class="container main-menu">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="index.html"><img src="Assets/logo.png" alt="logo" title="logo" height="40px" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-active"><a href="landing.html">Home</a></li>
                            <li><a href="#" class="get-started">Blockchain</a></li>
                            <li><a href="about.html">About Us</a></li>


                            <li class="menu-has-children"><a href="">Blog</a></li>
                            <li><a href="contact.html">Report</a></li>
                            <li class="menu-has-children"><a href="#">Settings</a>
                                <ul>
                                    <li><a href="Submit.html">Sign up</a></li>
                                    <li><a href="index.html">Log out</a></li>
                                    <li class="menu-has-children"><a href="Profile.html">Change, Edit Profile</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- #nav-menu-container -->
                </div>
            </div>
        </header>
        <!-- #header -->

        <div class="card" style="margin-top: 70px;">
            <table class="table table-hover shopping-cart-wrap m-b-0">
                <thead class="text-muted">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col" width="120">Quantity</th>
                        <th scope="col" width="120">Price</th>
                        <th scope="col" width="200" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="offer">
                        <td>
                            <figure class="media">
                                <i class="fab fa-ethereum img-thumbnail"></i>
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">Dell xps 15</h6>
                                    <dl class="param param-inline small">
                                        <dt>Resoluion: </dt>
                                        <dd>1920x1080</dd>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Color: </dt>
                                        <select class="control">
                                            <option>White</option>
                                            <option>Black</option>
                                            <option>Green</option>
                                            <option>Pink</option>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <var class="price">7.45 Eth</var>
                                <small class="text-muted">(USD999)</small>
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right">
                            <a title="" href="" class="btn btn-outline-success btn-width" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"><i class="fas fa-shopping-cart"></i> Accept
                                Request</a>
                        </td>
                    </tr>
                    <tr class="request">
                        <td>
                            <figure class="media">
                                <i class="fab fa-ethereum img-thumbnail"></i>
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">Ecstacy</h6>
                                    <dl class="param param-inline small">
                                        <dt>Size: </dt>
                                        <dd>10mg</dd>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Color: </dt>
                                        <select class="control">
                                            <option>White</option>
                                            <option>Black</option>
                                            <option>Pink</option>
                                            <!-- <dd> </dd>  -->
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <var class="price">0.37 Eth</var>
                                <small class="text-muted">(USD 50)</small>
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right">
                            <a title="" href="" class="btn btn-outline-info" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"><i class="fas fa-hand-holding-usd"></i></i>
                                Accept Offer</a>
                        </td>
                    </tr>
                    <tr class="offer">
                        <td>
                            <figure class="media">
                                <i class="fab fa-ethereum img-thumbnail" style="padding: 20px; 
                            color: #C3B15F; 
                            font-size: 30px; 
                            border-radius: 500px;
                            margin-right: 20px;"></i>
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">Dumbells</h6>
                                    <dl class="param param-inline small">
                                        <dt>Size: </dt>
                                        <select class="control">
                                            <option>10KG</option>
                                            <option>20KG</option>
                                            <option>50KG</option>
                                            <option>100KG</option>
                                            <option>150KG</option>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Color: </dt>
                                        <select class="control">
                                            <option></option>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <var class="price">USD 60</var>
                                <small class="text-muted">(USD30 each)</small>
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right">
                            <a title="" href="" class="btn btn-outline-success btn-width" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"><i class="fas fa-shopping-cart"></i> Accept
                                Request</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- card.// -->
    </div>


    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>

</body>

</html>